/*Roboto Slaf 400, 700
  Roboto 400 500 700 900
  Roboto Mono 400 500 700
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 400;
}

.cuerpo-pagina {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Apartado HEADER*/

.cabecera-redes {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.contenedor-redes {
  background-color: #120727;
  width: 100%;
  height: 50px;
  display: grid;
}

.iconos {
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;

}

.contenedor-redes a {
  color: #fff;
  font-size: 28px;
}

.contenedor-redes a:hover {
  color: #693bcc;
}

/* Apartado Logo*/

.navegacion{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.contenedor-logo {
  
  display: flex;
  align-items: center;
}

.perfil {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;

}
.perfil a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
}

/* Apartado del cuerpo pagina principal*/

.cuerpo {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url(../img/Tierra.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}

.contenedor-cuerpo {
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 80px;

}

.texto-cuerpo {
  text-align: center;
  font-size: 30px;
  letter-spacing: 8px;
  font-weight: 700;
  color: #fff;
}

.link-descubrir {
  background-color: #120727;
  display: inline-block;
  height: 45px;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 18px;
}

.link-descubrir:hover {
  background-color: #6924a5 ;
}


/*------------PAGINA DE BLOGS NOTICIAS------------------ */

.blogs-main {
  display: grid;
  margin-top: 10px;
}

.contenedor-noticias {
  background-color: #e9e9e9;
  padding: 10px 80px 40px;
}

.noticias {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;

}

.noticias img {
  grid-column: 1;
  width: 90%;
  display: inline-block;
  margin-top: 10px;
}

.info-noticia {
  grid-column: 2;

}

.info-noticia h3 {
  margin-top: 20px;
}

.info-noticia p {
  margin: 20px 0;
}

.boton-news {
  text-decoration: none;
  color: #000;
  border: 1px solid #7f5281;
  padding: 10px 15px;
  font-size: 14px;
}

/* Seccion de Post noticias*/

.post-noticias {
  padding: 20px;
}

.post-noticias h2 {
  border-bottom: 1px solid #cdd2da;
  padding: 20px 0;
  text-align: center;
}

.post-blog {
  display: inline-block;
  padding: 15px;
  max-width: 32%;
  margin-bottom: 50px;
}

.post-blog img {
  width: 100%;
}

.post-blog h4 {
  margin: 20px 0;
}

.post-blog p {
  margin-bottom: 35px;
}

.post-blog a {
  text-decoration: none;
  border: 1px solid #693bcc;
  padding: 10px 15px;
  color: #000;
}

/* PIE DE PAGINA*/

footer {
  width: 100%;
  height: 80PX;
  background-color: #22272d;
  border-top: 35px solid #120727;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #fff;
}


/* PAGINA DE INFORMACION DE NOTICIAS*/

.cuerpo-blog {
  padding: 0 80px 40px 80px ;
  margin-top: 20px;
}

.contenido-cuerpo-blog img {
  display: inline-block;
  padding: 0 50px 40px 50px;
  width: 100%;
}

.informacion-noticia-blog {
  padding: 0 80px 40px 80px;
}

.informacion-noticia-blog h4 {
  border-bottom: 1px solid #cdd2da;
  padding: 20px 0;
}

.informacion-noticia-blog h1 {
  padding: 20px 0;
  font-size: 35px;
}

.seccion-contacto {
  width: 100%;
  background-color: #6924a5;
  display: flex;
  justify-content: space-between;
  
}

.contacto {
  display: flex;
  margin: 20px 0px 20px 20px;
}

.contacto img {
  width: 100px;
  display: inline-block;
  padding: 10px;
}

.informacion-contacto {
  padding: 20px 0;
  width: 300px;
}

.informacion-contacto a {
  text-decoration: none;
  color: #fff;
  background-color: #7f5281;
  padding: 10px;
  border-radius: 1rem;
}

.informacion-contacto p {
  margin-top: 1rem;
}

.informacion-contacto a:hover {
  background-color: #fff;
  color: #000
}

/* Pagina de Perfil*/

.cuerpo-perfil {
  display: block;
  
}

.perfil-contenedor {
  padding: 70px 100px;
  background-color: #6924a5;
  margin-bottom: 5px;
  margin-top: 50px;
  display: flex;
}

.perfil-contenedor img {
  width: 320px;
  margin-right: 30px;
}

.proyecto-contenedor {
  padding: 0 80px 40px 80px;
}

.proyecto-contenedor h3 {
  border-bottom: 1px solid #cdd2da;
  padding: 20px 0;
  text-align: center;
}

.losProyectos {
  display: inline-block;
  padding: 30px;
  max-width: 30%;
  margin-bottom: 50px;
}

.losProyectos h4 {
  margin: 20px 0;
}

.losProyectos p {
  margin-bottom: 35px;
}

.losProyectos a {
  color: red;
  text-decoration: none;
}